//<!-- Author xpimen00-->
@namespace Charity.WEB.Shared
@inject IJSRuntime JS

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Charity.WEB</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/shelters">
                <span class="oi oi-plus" aria-hidden="true"></span> Shelters
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/volunteers">
                <span class="oi oi-plus" aria-hidden="true"></span> Volunteers
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/volunteerings">
                <span class="oi oi-plus" aria-hidden="true"></span> Volunteerings
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/donations">
                <span class="oi oi-plus" aria-hidden="true"></span> Donations
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
